@import '';

/* /Features/Chat/Chat.razor.rz.scp.css */
.icon-sender[b-5a2e58y4lf] {
    height: 49px;
    width: 49px;
}


.icon-sender-small[b-5a2e58y4lf] {
    height: 35px;
    width: 35px;
}

.bg-message[b-5a2e58y4lf] {
    background-color: #c5f0ae;
}

.icon-message[b-5a2e58y4lf] {
    font-size: 18px;
}
