@page "/"
@inherits AuthenticationBase

<!-- Main container -->
<div class="d-flex flex-column h-100 flex-grow-1 justify-content-center align-items-center">
    <h1>WhatsApp Clone + Blazor</h1>
    <h5>Read the Qr-Code bellow</h5>
    <img src="" alt="qr-code" />
</div>